<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>List of Doctors</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Doctors</h1>-->
<!--    <ul>-->
<!--        {% for doctor in doctors %}-->
<!--            <li>-->
<!--                <a href="{% url 'user_detail' pk=doctor.pk %}">{{ doctor.username }}</a>-->
<!--            </li>-->
<!--        {% empty %}-->
<!--            <li>No doctors found.</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--</body>-->
<!--</html>-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>List of Doctors</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Doctors</h1>-->
<!--    <ul>-->
<!--        {% for doctor in doctors %}-->
<!--            <li>-->
<!--                <a href="{% url 'user_detail' pk=doctor.pk %}">{{ doctor.username }}</a>-->
<!--            </li>-->
<!--        {% empty %}-->
<!--            <li>No doctors found.</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--</body>-->
<!--</html>-->
